.keywordItem {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 222, 255);
    border: 2px solid red;
    color: black;
    margin: 10px;
    font-family: Arial;
    text-align: center;
}
.keywordListVertical {
    position: relative;
    align-self: center;
    width: 1500px;
    height: 250px;
    align-content: center;
}
.keywordItemVertical {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 222, 255);
    border: 2px solid rgb(2, 0, 100);
    color: black;
    margin: 10px;
    font-family: Arial;
    text-align: center;
}