.mainContainor {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.sectionContainor {
    width: 1903px;
    height: 969px;

}

.mainLeftSection {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    float: left;
    left: 0;
    right: auto;
    width: 640px;
    height: 969px;
}

.mainRightSection {
    overflow: hidden;
    float: right;
    position: relative;
    right: 0;
    left: auto;
    width: 1243px;
    height: 969px;
}

.backGroundImg {
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1903px;
    height: 969px;
    z-index: -1;
}

.linkBox {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 60px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.chartLink {
    position: relative;
    top: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
}

.mainBannerBox {
    position: relative;
    /* text-align: center;*/
    /* border: 1px solid white; */
    height: 150px;
    width: 100%;
    margin: 100px 0px 0px 0px;
    background: transparent;
    object-fit: cover;
}

.bannerMain{
    position: relative;
    top: 55px;
    margin: 0 auto;
}

.bannerImage{
    position: relative;
    width: 224px;
    height: 40px;
}

.mainCategoriesBox {
    position: relative;
    /*text-align: center;*/
    width: 100%;
    height: fit-content;
    /* border: 1px solid white; */
}

.searchBar {
    position: relative;
    border: none;
    background-color: white;
    width: 600px; height: 32px;
    font-size: 15px;
    padding: 0px;
    /*margin: 0 auto;*/
    text-align: left;
}

.searchInput {
    position: relative;
    border: none;
    background: transparent;
    height: 30px;
    width: 576px;
    padding: 0px 12px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    vertical-align: middle;
}

.searchButton {
    border-radius: 0 3px 3px 0;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    background: transparent;
    transition: all ease .4s;
    cursor: pointer;
}

.searchButtonImg {
    position: relative;
    width: 25px;
    height: 25px;
}

.mainChipBox {
    position: relative;
    /*margin: 0 auto;*/
}

.chipStyles {
    margin: 20px 20px 5px 0px
}

.chipBackground {
    width: 100%;
    height: 60px;
    background: transparent;
    /* border: 1px solid white; */
    align-content: left;
    display: flex;
    justify-content: left;
}

.trendImage {
    position: relative;
    width: 100px;
    height: 50px;
    color: #17181c;
    margin-right: 10px;
}

.footer {
    position: relative;
    width: 1903px;
    height: 200px;
    bottom: 0px;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.7) 70%,
        rgba(20, 20, 20, 1)
      ), rgba(0, 0, 0, 1);
}

.footerBox {
    position: relative;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.testTxtTop {
    position: absolute;
    text-align: right;
    margin-right: 20px;
    left: 360px;
    bottom: 55px;
    color: white;
    font-size: 100%;
    font-weight: 400;
    width: 70%;
}

.testTxtBottom {
    position: absolute;
    text-align: right;
    margin-right: 20px;
    left: 470px;
    bottom: 20px;
    color: white;
    font-size: 0.7em;
    font-weight: 400;
    width: 61%;
    font-weight: normal !important;
}

.bannerTrendMain {
    position: relative;
    margin: 0 auto;
}