.mainContainor {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.sectionContainor {
    width: 1903px;
    height: 969px;
}

.mainLeftSection {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    float: left;
    left: 0;
    right: auto;
    width: 640px;
    height: 969px;
}

.mainRightSection {
    left: 660px;
    margin-right: 0px;
    overflow: hidden;
    position: absolute;
    width: 1260px;
    height: 969px;
}

.backGroundImg {
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 969px;
    z-index: -1;
}

.chartLinkBox {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.chartLink {
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.chartLink:hover {
    color: white;
    text-decoration: none;
}

.chartLink:focus{
    color: white;
    text-decoration: none;
}

.mainBannerBox {
    position: relative;
    /* text-align: center;*/
    /* border: 1px solid white; */
    height: 150px;
    width: 100%;
    margin: 100px 0px 0px 0px;
    background: transparent;
    object-fit: cover;
}

.bannerMain{
    position: relative;
    top: 55px;
    margin: 0 auto;
}

.bannerImage{
    position: relative;
    width: 298px;
    height: 65px;
}

.mainCategoriesBox {
    position: relative;
    width: 100%;
    height: fit-content;
}

.searchBar {
    position: relative;
    border: none;
    outline: none;
    background-color: white;
    width: 600px; height: 32px;
    font-size: 15px;
    padding: 0px;
    text-align: left;
}

.searchInput {
    position: relative;
    border: none;
    background: transparent;
    height: 30px;
    width: 576px;
    padding: 1px 12px 1px 12px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    vertical-align: middle;
}

.searchInput:hover {
    outline: none;
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    /* border-radius: 0 3px 3px 0; */
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    background: white;
    transition: all ease .4s;
    cursor: pointer;
}

.searchButton:hover {
    outline: none;
    mix-blend-mode: difference;
    transition: all ease .4s;
}

.searchButton:focus {
    outline: none;
    mix-blend-mode: difference;
    transition: all ease .4s;
}

.searchButtonImg {
    position: relative;
    width: 25px;
    height: 25px;
}

.searchButtonImg:hover {
}

.searchButtonImg:focus {
}

.mainChipBox {
    position: relative;
    /*margin: 0 auto;*/
}

.chipStyles {
    margin: 20px 20px 5px 0px
}

.MuiChip-root {
    background-color: white !important;
}

.chipBackground {
    width: 100%;
    height: 60px;
    background: transparent;
    /* border: 1px solid white; */
    align-content: left;
    display: flex;
    justify-content: left;
}

.trendImage {
    position: relative;
    width: 100px;
    height: 50px;
    color: #17181c;
    margin-right: 10px;
}

.footer {
    position: relative;
    width: 1903px;
    height: 200px;
    bottom: 0px;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.7) 70%,
        rgba(20, 20, 20, 1)
      ), rgba(0, 0, 0, 1);
}

.footerBox {
    position: relative;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.testTxtTop {
    position: absolute;
    text-align: right;
    margin-right: 20px;
    left: 360px;
    bottom: 55px;
    color: white;
    font-size: 100%;
    font-weight: 400;
    width: 70%;
}

.testTxtBottom {
    position: absolute;
    text-align: right;
    margin-right: 20px;
    left: 470px;
    bottom: 20px;
    color: white;
    font-size: 0.7em;
    font-weight: 400;
    width: 61%;
    font-weight: normal !important;
}

.bannerTrendMain {
    position: relative;
    margin: 0 auto;
}

/* ._boxPosition {
    position: absolute;
    width: 308px;
    height: 308px;
    overflow: visible;
} */

#_Mainbox {
    border: 1px solid white;
}

._Mainbox {
    overflow: visible;
    position: absolute;
    width: 308px;
    height: 308px;
    left: 76px;
    top: 52.221px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border: 1px solid white;
}

.leftThumnail {
    width: 308px;
    height: 308px;
}

.MP_lookWellBox {
    position: absolute;
    left: 475px;
    top: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.mP_lookWell {
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}