@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

.tmp_MainWrapper {
    min-width: 1290px;
    overflow: visible;
    margin: 0 auto;
}

.tmp_BackGroundPanel{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* .tmp_BackGroundPanelLine{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1290px;
    height: 1500px;
    background-color: grey;
} */

#tmp_ScrollWallPaper {
    z-index: -1;
    /* --web-view-name: ROBOTO 폰트 사용;
    --web-view-id: ROBOTO__;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true; */
}

.tmp_ScrollWallPaperImg {
    position: fixed;
    opacity: 1;
    width: 100%;
    min-width: 1903px;
    height: 100%;
    min-height: 969px;
    overflow: hidden;
}

#header {
    position: relative;
    z-index: 2000;
}

.tmp_BannerBox {
    position: relative;
    width: 300px;
    height: 65px;
    margin: 0 auto;
    padding: 85px 525px 85px 525px
}

.tmp_BannerA {
    position: relative;
}

.tmp_BannerImage {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 298px;
    height: 65px;
}

#container {
    position: relative;
    width: 1290px;
    padding: 10px 30px;
    margin: 0 auto;
    display: flex !important;
    flex-wrap: wrap;
}

.tmp_SearchBox {
    position: relative;
    float: left;
}

.tmp_SearchBar {
    position: relative;
    border: none;
    outline: none;
    background-color: white;
    width: 930px;
    height: 32px;
    font-size: 15px;
    padding: 0px;
    text-align: left;
}

.tmp_searchInput {
    position: relative;
    border: none;
    background: transparent;
    height: 30px;
    width: 906px;
    padding: 1px 12px 1px 12px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    vertical-align: middle;
}

.tmp_searchInput:hover {
    outline: none;
}

.tmp_searchInput:focus {
    outline: none;
}

.tmp_searchButton {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    height: 32px;
    background: white;
    cursor: pointer;
    transition: linear .1s;
}

.tmp_searchButton::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tmp_searchButton:hover {
    outline: none;
    mix-blend-mode: difference;
}

.tmp_searchButton:focus {
    outline: none;
    mix-blend-mode: difference;
}

.tmp_searchButtonImg {
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
    width: 24px;
    height: 24px;
}

.tmp_MainChipBox {
    width: fit-content;
}

.tmp_chipBackGround {
}

.tmp_LeftBox {
    position: relative;
    float: left;
    width: 930px;
}

.tmp_RightBox {
    overflow: visible;
    position: relative;
    float: left;
    width: 340px;
    margin-left: 20px;
}

.tmp_TextCloudBox {
    float: left;
    width: 675px;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_RankChangeBox {
    float: left;
    width: 100%;
    height: 280px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_xscrollMaker {
    position: relative;
    width: 950px;
    height: 5px;
    top: 0px;
    left: 0px;
}

.tmp_NewViewBox {
    float: left;
    width: 455px;
    height: 280px;
    margin: 20px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_pieBox {
    float: left;
    width: 455px;
    height: 340px;
    margin: 20px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_NewVideoBox {
    float: left;
    width: 455px;
    height: 280px;
    margin: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_barBox {
    float: left;
    width: 455px;
    height: 340px;
    margin: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_PFBoxChip {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 160px;
    margin: 10px 0px 10px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid 1px rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}

.tmp_lookWellBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    left: 40px;
    top: 115px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: linear .1s;
    outline: 2px solid transparent;
    border-radius: 15px;
    color: black;
    z-index: 2;
}

.tmp_lookWellBox:hover {
    background-color: rgb(130, 130, 130);
    color: white;
}

.tmp_lookWellBox:focus {
    background-color: rgb(70, 70, 70);
    color: white;
}

.tmp_lookWellBox:visited {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.tmp_lookWell {
    font-size: 0.95em;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Spoqa Han Sans Neo", serif;
}

.tmp_PFLeftBox {
    width: 50%;
    float: left;
}

.tmp_PFBoxDeleteButton {
    position: absolute;
    width:30px;
    height: 30px;
    top: 10px;
    left: 290px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-family: "roboto";
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: linear .1s;
}

.tmp_PFBoxDeleteButton:hover {
    background-color: grey;
    color: white;
}


.tmp_PFBoxDeleteButtonImg {
    position: absolute;
    top: 0px;
    left:15px;
}

.tmp_PFThumbnailCircle {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 15px 10px 0px 20px;
    width: 136px;
    height: 136px;
    border: 2px solid white;
    border-radius: 50%;
}

.tmp_PFThumbnailCircleChip {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 10px 10px 0px 15px;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
}

.tmp_PFThumbnail {
    display: table;
    margin: 0 auto;
    width: 136px;
    height: 136px;
}

.tmp_PFRelaCTGRBox {
    position: relative;
    float: left;
    width: 140px;
    height: 222px;
    margin: 0px 10px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.tmp_PFRelaCTGRLineBox {
    position: relative;
    float: left;
    width: 35px;
    height: 100%;
}

.tmp_PFMainCTGR {
    position: relative;
    float: left;
    padding: 20px 0px 17px 0px;
    width: 105px;
    height: 24px;
    text-align: left;
    font-size: 1.1em;
    font-weight: 500;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFRelaCTGR {
    position: relative;
    float: left;
    padding: 15px 0px 15px 0px;
    width: 105px;
    height: 23px;
    text-align: left;
    font-size: 0.9em;
    font-weight: lighter;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordYear {    
    float: left;
    padding: 15px 0px 0px 10px;
    height: 20px;
    width: 185px;
    text-align: left;
    font-size: 0.9em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordCompany {    
    float: left;
    padding: 15px 0px 0px 10px;
    height: 20px;
    width: 185px;
    text-align: left;
    font-size: 0.9em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFRightBox {
    width: 50%;
    float: left;
}

.tmp_PFBox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_PFThumbnailCircle {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 15px 0px 15px 20px;
    width: 138px;
    height: 138px;
    border: 2px solid white;
    border-radius: 50%;
}

.tmp_PFThumbnail {
    display: table;
    margin: 0 auto;
    width: 138px;
    height: 138px;
}

.tmp_PFThumbnailChip {
    display: table;
    margin: 0 auto;
    width: 126px;
    height: 126px;
}

.tmp_PFKeywordName {    
    float: left;
    padding: 30px 10px 0px 10px;
    width: 160px;
    text-align: left;
    font-size: 1.1em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordCTGR {    
    float: left;
    padding: 15px 10px 0px 10px;
    width: 160px;
    text-align: left;
    font-size: 0.9em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordCompony {    
    float: left;
    padding: 15px 0px 0px 10px;
    height: 20px;
    width: 170px;
    text-align: left;
    font-size: 0.9em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordInfoBox {
    position: relative;
    float: left;
    width: 140px;
    height: 64px;
    margin: 15px 20px 0px 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.tmp_PFKeywordInfoTop {
    float: left;
    width: 100%;
    padding: 4px 0px 4px 0px;
    text-align: center;
    font-size: 0.9em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_PFKeywordInfoBottom {
    float: left;
    width: 100%;
    padding: 4px 0px 4px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_KeywordChipBox {
    float: left;
    width: 100%;
    height: 940px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_KeywordChipClearAllbutton {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: black;
    transition: linear .1s;
    cursor: pointer;
}

.tmp_KeywordChipClearAllbutton:hover{
    background-color: rgb(130, 130, 130);
    color: white;
}

.tmp_KeywordChipClearAllbutton:active{
    background-color: rgb(70, 70, 70);
    color: white;
}

.tmp_KeywordChipClearAllbutton:visited{
    background-color: rgba(255, 255, 255, 1);
    color: white;
}

.tmp_KeywordChipScroll {
    width: 100%;
    height: 900px;
    overflow-y: scroll;
}

.tmp_KeywordChipScroll::-webkit-scrollbar {
    margin-top: 30px;
    width: 10px;
}

.tmp_KeywordChipScroll::-webkit-scrollbar-button {
}

.tmp_KeywordChipScroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_KeywordChipScroll::-webkit-scrollbar-track-piece {
}

.tmp_KeywordChipScroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.95);
    width: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: linear .1s;
}

.tmp_KeywordChipScroll::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
    width: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: linear .1s;
}

.tmp_KeywordChipScroll::-webkit-scrollbar-thumb:focus {
    background-color: darkgrey;
    width: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: linear .1s;
}

.tmp_KeywordChipScroll::-webkit-scrollbar-corner {
}

.tmp_BoxNameBar {
    width: 100%;
    padding: 7px 0px 7px 0px;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 1em;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
}

.tmp_KeywordRankBox {
    float: left;
    width: 930px;
    height: 315px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
}

.tmp_CommentList {
    overflow: auto;
    float: right;
    width: 240px;
    height: 320px;
    text-align: center;
    font-family: "Spoqa Han Sans Neo" , "Roboto";
    color: white;
    font-size: 0.8em;
}

.tmp_CommentList::-webkit-scrollbar {
    margin-top: 30px;
    width: 10px;
}

.tmp_CommentList::-webkit-scrollbar-button {
}

.tmp_CommentList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_CommentList::-webkit-scrollbar-track-piece {
}

.tmp_CommentList::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.95);
    width: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}

.tmp_CommentList::-webkit-scrollbar-corner {
}

.tmp_CLChip_L {
    float: left;
    padding: 7px 0px 7px 0px;
    width: 40px;
    height: 20px;
}

.tmp_CLChip_M {
    float: left;
    padding: 7px 0px 7px 0px;
    width: 130px;
    height: 20px;
}

.tmp_CLChip_R {
    float: left;
    padding: 7px 0px 7px 0px;
    width: 60px;
    height: 20px;
}

.tmp_CLChip_4 {
    float: left;
    padding: 7px 0px 7px 0px;
    width: 100%;
    height: 200px;
}

.tmp_GraphBox_1 {
    float: left;
    width: 300px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 15px 0px 0px;
}

.tmp_GraphBox_2 {
    float: left;
    width: 300px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 15px 0px 0px;
}

.tmp_GraphBox_3 {
    float: left;
    width: 300px;
    height: 250px;
    margin: 15px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_GraphBox_4 {
    float: left;
    width: 457.5px;
    height: 250px;
    margin: 15px 15px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_GraphBox_5 {
    float: left;
    width: 457.5px;
    height: 250px;
    margin: 15px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_GraphBox_6 {
    float: left;
    width: 100%;
    height: 250px;
    margin: 15px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_BarGraphContainer {
    width: 457.5px;
    height: 210px;
}

.tmp_RadarBox {
    float: left;
    width: 100%;
    height: 325px;
    margin: 15px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_RadarContainer {
    overflow: hidden;
    width: 345px;
    height: 285px;
}

.tmp_KWDRecommend {
    float: left;
    width: 100%;
    height: 640px;
    margin: 15px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmp_footer {
    float: left;
    position: relative;
    width: 100%;
    font-family: "Roboto";
}

.tmp_TxtTop {
    float: right;
    position: relative;
    text-align: right;
    margin-right: 15px;
    margin-top: 200px;
    bottom: 0px;
    color: white;
    font-size: 100%;
    font-weight: 400;
    width: 100%;
}

.tmp_TxtBottom {
    float: right;
    position: relative;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
    bottom: 0px;
    color: white;
    font-size: 100%;
    font-weight: 400;
    width: 1100px;
}

.tmp_ProfileChipContainer {

}