<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper
	namespace = "com.my.spring.mapper.BasicMapper">
	
	<select id="getGameFirst" resultType="String">
		select title from game 
		where title not in (select title from gamestatistics where infodate = TO_DATE(SYSDATE, 'YY/MM/DD')) 
		order by description desc
	</select>
	<select id="getGameTop" resultType="String">
		select title from gamestatistics 
		where infodate = TO_DATE(SYSDATE - 1, 'YY/MM/DD')) 
		order by resultCount desc
	</select>
	
	
	<select id="checkGameStat" parameterType="String" resultType="Int">
		select count(*) from gamestatistics where title = #{title} and infodate = TO_DATE(SYSDATE, 'YY/MM/DD')
	</select>
	<insert id="setGameStat" parameterType="com.my.spring.domain.statistics.GameStatistic">
		insert into gamestatistics (title, infoDate, resultcount)
		values (#{item.title}, #{item.infoDate}, #{item.resultCount})
	</insert>
	<select id="getTopics" resultType="com.my.spring.domain.TopicDto">
		select * from topictotal
	</select>
	<select id="getTopicGames" resultType="com.my.spring.domain.TopicDto">
		select * from topicgame
	</select>
	<select id="getNounFilter" resultType="String">
		select * from nounFilter
	</select>
	
	<select id="getTopicsByVideoId" parameterType="String"
	resultType="String">
		select topic from videotopic where id = #{id}
	</select>
	
	<select id="getTopicChains" resultType="com.my.spring.domain.chains.TopicChain">
		select topic1, topic2, count(*) hardness from
		(select a.topic topic1, b.topic topic2 from videotopic a, videotopic b
		where a.id = b.id and a.topic != b.topic
		union all
		select a.topic topic1, b.topic topic2 from channeltopic a, channeltopic b
		where a.id = b.id and a.topic != b.topic) 
		group by topic1, topic2
		order by hardness desc
	</select>
	
	<select id="getTopicChainsByTopic" parameterType="String" resultType="com.my.spring.domain.chains.TopicChain">
		select * from (
		select topic1, topic2, count(*) hardness from
		(select a.topic topic1, b.topic topic2 from videotopic a, videotopic b
		where a.id = b.id and a.topic != b.topic
		union all
		select a.topic topic1, b.topic topic2 from channeltopic a, channeltopic b
		where a.id = b.id and a.topic != b.topic) 
		group by topic1, topic2
		order by hardness desc
		) where topic1 = #{topic}
		order by hardness desc
	</select>
	
	<select id="getGameListForToday" resultType="com.my.spring.domain.statistics.GameStatistic">
		select * from gameStatistics
		where infodate = TO_DATE(SYSDATE, ('YY/MM/DD'))
		order by resultcount desc
	</select>
	
	<select id="getIdCompleteById" parameterType="String" resultType="Int">
		select count(*) from idcomplete where id = #{id}
	</select>
	
	<insert id="setIdComplete" parameterType="com.my.spring.domain.IdComplete">
		insert into IdComplete (type, id)
		values (#{item.type}, #{item.id})
	</insert>
</mapper>