<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper
	namespace = "com.my.spring.mapper.BasicMapper">
	
	<select 
	id = "checkCtgr"
	parameterType="String"
	resultType="int">
		select count(*) from ctgr 
		where upper(title) like upper(#{ctgr})
	</select>
	
	<select 
	id="checkCtgrRelation"
	parameterType="String"
	resultType="int">
		select count(*) from ctgrRelation 
		where upper(parent) like upper(#{parent}) 
		and upper(title) like upper(#{title})
	</select>
	
	<select 
	id = "getCtgrBySearch"
	resultType = "com.my.spring.domain.CtgrDto"
	parameterType="String">
		select * from ctgrRelation 
		where upper(parent) = upper(#{parent}) ORDER BY title DESC
	</select>
	
	<select 
	id="translateCtgrByTopicId"
	resultType="String"
	parameterType="String">
		select title from ctgrdictionary
		where code = #{topicId}
	</select>
	
	<insert 
	id="addCtgr"
	parameterType="String">
		insert into ctgr (title) values (#{ctgr})
	</insert>
	
	<insert 
	id="addCtgrRelation"
	parameterType="String">
		insert into ctgrRelation (parent, title) values (#{parent}, #{title})
	</insert>
	
</mapper>