<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper
	namespace = "com.my.spring.mapper.BasicMapper">
	<select id="checkResultCtgr" parameterType="String" resultType="Int">
		select count(*) from resultctgr where ctgr = #{ctgr} and infodate = TO_DATE(SYSDATE, 'YY/MM/DD')
	</select>
	<insert id="setResultCtgr" parameterType="com.my.spring.domain.ResultCtgr">
		insert into resultCtgr (ctgr, infoDate, resultcount)
		values (#{item.ctgr}, #{item.infoDate}, #{item.resultCount})
	</insert>
	<select id="getCtgrs" resultType="String">
		select title from ctgr
	</select>
	<select id="getCtgrsForPatch" resultType="String">
		select a.title from ctgr a where a.title not in (
		select ctgr from resultctgr where infodate = TO_DATE(SYSDATE, 'YY/MM/DD'))
	</select>
</mapper>