<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper
	namespace = "com.my.spring.mapper.VideoMapper">
	<select id="getVideoIdsByCtgr" parameterType="String" resultType="String">
		select a.id from video a, chainvideo b where a.id = b.id and b.ctgr = #{ctgr}
	</select>
	<select id="getVideoIdsForStatisticsByCtgr" parameterType="String" resultType="String">
		select a.id from Video a, chainvideo b 
		where a.id = b.id and b.ctgr = #{ctgr} and 
		a.id not in (select id from VideoStatistics where infoDate = TO_DATE(SYSDATE, 'YY/MM/DD'))
	</select>
	<select id="getVideoIdsForCommentByCtgr" parameterType="String" resultType="String">
		select a.id from Video a, chainvideo b 
		where a.id = b.id and b.ctgr = #{ctgr} and 
		a.id not in (select videoid id from comments group by videoid)
	</select>
	<insert id="setVideoInfo" parameterType="com.my.spring.domain.VideoDto">
		insert into Video (id, title, thumbnail, description, publisheddate)
		values (#{item.id}, #{item.title}, #{item.thumbnail}, #{item.description}, #{item.publishedDate})
	</insert>
	<insert id="setVideoChain" parameterType="com.my.spring.domain.ChainDto">
		insert into chainVideo (id, ctgr)
		values (#{item.id}, (select title from ctgrdictionary where code = #{chain.ctgr}))
	</insert>
	<insert id="setVideoStatistics" parameterType="com.my.spring.domain.VideoStatDto">
		insert into VideoStatistics (id, infodate, likecount, dislikecount, viewcount, favoritecount, commentcount)
		values (#{item.id}, #{item.infoDate}, #{item.likeCount}, 
		#{item.dislikeCount}, #{item.viewCount}, #{item.favoriteCount}, #{item.commentCount})
	</insert>
	<insert id="setVideoTag" parameterType="com.my.spring.domain.TagDto">
		insert into tag (id, tag) values (#{item.id}, #{item.tag})
	</insert>
	<select id="checkVideoInfo" parameterType="String" resultType="Int">
		select count(*) from Video where id = #{id}
	</select>
	<select id="checkVideoStatistics" parameterType="com.my.spring.domain.VideoStatDto" resultType="Int">
		select count(*) from Videostatistics where id = #{item.id} and infodate = #{item.infoDate}
	</select>
	<select id="checkVideoChain" parameterType="com.my.spring.domain.VideoDto" resultType="Int">
		select count(a) from chainVideo a, ctgrdictionary b where a.id = #{item.id} and a.ctgr = b.title and b.code = #{item.ctgr}
	</select>
</mapper>